include CHANGELOG.md
include LICENSE
include MANIFEST.in
include README.md
include THEORY.md
include USAGE.md
include requirements.txt
include pyproject.toml
include src/qsvt/py.typed

graft docs
graft notebooks
graft results
graft tests
prune docs/_build

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
global-exclude .ipynb_checkpoints
global-exclude *.nbconvert.ipynb
prune build
prune dist
prune htmlcov
prune .pytest_cache
prune .ruff_cache
